.card {
  text-align: center;
  margin: 20px;
  width: 150px;
  height: 150px;
}

.flex-container {
  width: 90%;
}

.view-button {
  margin-top: 50px !important;
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 50px;
}
