<button color="warn" class="logout-button" (click)="logout()" mat-raised-button>
  <mat-icon>logout</mat-icon>
  Log Out
</button>
<div fxLayout="row wrap" fxLayoutGap="20px" class="flex-container">
  <mat-card class="card" *ngFor="let student of students | async">
    <mat-card-title>{{ student.name }}</mat-card-title>
    <mat-card-content>
      <button class="view-button" (click)="openStudentEditor(student)" mat-raised-button color="primary">View</button>
    </mat-card-content>
  </mat-card>
</div>
<app-editor [(code)]="code" sendPatches="false" showTemplateButton="true"
            (templateButtonClick)="openTemplateEditor()"></app-editor>
