<div fxLayout="column" class="root">
  <div fxFlex="5%" class="controls">
    <button *ngIf="enableRun === true" class="button" mat-raised-button (click)="runCode()" color="primary">
      <mat-icon>play_arrow</mat-icon>
      Run
    </button>
    <button color="primary" *ngIf="showSetTemplateButton" class="button" mat-raised-button (click)="setTemplateButtonClick.emit(code)">
      <mat-icon>done</mat-icon>
    </button>
    <button *ngIf="showResetButton === true" class="button" mat-raised-button (click)="resetTemplate()">
      <mat-icon>delete</mat-icon>
      Reset
    </button>
    <button *ngIf="showCopyButton" class="button" mat-raised-button (click)="copyCode.emit(this.code)">
      <mat-icon>content_copy</mat-icon>
      Copy
    </button>
    <button *ngIf="showTemplateButton" class="button" mat-raised-button (click)="templateButtonClick.emit()">
      <mat-icon>code</mat-icon>
      Set Template
    </button>
  </div>
  <div class="code" [fxFlex]="enableRun === true ? '60%' : '95%'">
    <ngx-monaco-editor style="height: 100%" class="code-editor" [options]="options"
                       [(ngModel)]="code" (ngModelChange)="codeChange.emit($event)" (onInit)="initEditor($event)"></ngx-monaco-editor>
  </div>
  <div *ngIf="enableRun === true" fxFlex="5%" class="i-dont-know-how-to-name-this-container">
    <button [disabled]="output.length === 0" mat-button color="warn" (click)="clearOutput()">
      <mat-icon>delete</mat-icon>
      Clear Output
    </button>
  </div>
  <mat-card *ngIf="enableRun === true" class="terminal" fxFlex="30%">
    <mat-card-title>Output</mat-card-title>
    <mat-card-content class="terminal-content">
      <div class="code-out"
           *ngIf="output.length !== 0">
        <p *ngFor="let line of output" class="code-line"
           [class.internal-error]="line.type === 'INTERNAL_ERROR'"
           [class.info]="line.type === 'INFO'"
           [class.error]="line.type === 'ERROR'">{{ line.output }}</p>
      </div>
    </mat-card-content>
  </mat-card>

</div>
