.code {
  text-align: initial;
}

.root {
  height: 100%;
}

.controls {
  position: relative;
  text-align: initial;
  padding-left: 55px;
  margin-bottom: 20px;
}

.terminal {
  text-align: initial;
  margin: 20px;
  height: 100%;

  span {
    margin: 10px;
  }
}

.terminal-content {
  padding-top: 5px;
  padding-left: 40px;
  height: 90%;
}

.i-dont-know-how-to-name-this-container {
  text-align: initial;
  padding: 0 20px;
}

.code-out {
  position: relative;
  overflow: auto;
  height: 100%;
}

.code-line {
  position: relative;
}

::ng-deep .teacher-cursor {
  background: red;
  width: 2px !important;
}

::ng-deep .teacher-selection {
  background: rgba(255, 0, 0, 0.4);
}

::ng-deep .code-editor {
  .editor-container {
    height: calc(100vh - 100px);
  }
}

.button {
  margin: 10px;
}

// Output formats
.internal-error {
  font-style: normal;
  font-weight: bold;
  color: darkred;
}

.error {
  font-style: normal;
  font-weight: normal;
  color: red;
}

.info {
  font-style: italic;
  font-weight: lighter;
}
